@import "tailwindcss";

@theme {
  --font-sans: "ABeeZee", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --animate-jump-in: jump-in 0.2s ease-out;
  --animate-jump-out: jump-in 0.2s ease-out reverse;

  @keyframes jump-in {
    0% {
      transform: translateY(100%);
    }
    80% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0%);
    }
  }
}

@layer components {
  .primary-btn {
    background-color: var(--color-green-800);
    padding: --spacing(3);
    color: var(--color-white);
  }

  .secondary-btn {
    background-color: var(--color-orange-400);
    padding: --spacing(3);
    color: var(--color-white);
  }
}

html,
body {
  @apply bg-white;

  /* @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}
