@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer components {
  .primary-btn {
    background-color: var(--color-green-800);
    padding: --spacing(3);
    color: var(--color-white);
  }
}

html,
body {
  @apply bg-white;

  /* @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}
